<nav class="navbar navbar-expand-md navbar-light bg-white">
    <div class="container">
      <button class="navbar-toggler d-md-none d-flex align-items-center" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="material-icons">
          menu
        </i>
      </button>
      <a class="navbar-brand" href="index.html">
        <img src="../assets/images/logo-all-dark.svg" width="220" height="40" alt="" class="d-none d-md-inline-block">
        <img src="../assets/images/logotype-sm-dark.svg" width="114" height="18" alt="" class="d-inline-block d-md-none">
      </a>
      
      <a class="nav-link d-flex align-items-center order-md-1" href="carts.html"><i class="bi bi-cart">
        </i>
      </a>
      <div class="collapse navbar-collapse flex-shrink-1" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link" href="index.html">首頁</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="products.html">甜點</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="register.html">登入</a>
          </li>
        </ul>
      </div>
    </div>
    
    
  </nav>